@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

.rmdp-input {
    border: 1px solid #c0c4d6;
    border-radius: 5px;
    height: 39px;
    margin: 1px 0;
    padding: 2px 5px;   
}